[submodule ".janus/vim-rvm"]
	path = .janus/vim-rvm
	url = https://github.com/tpope/vim-rvm.git
[submodule ".janus/vim-airline"]
	path = .janus/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule ".janus/vim-multiple-cursors"]
	path = .janus/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
